<!doctype html>
{% load static %}
<html lang="ru">
<html>
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Предекодер ядра CPU</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/mips.css" rel="stylesheet">
</head>
<body>
<div class="main-wrapper">
    <div class="d-flex flex-column align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
        <a class="h5 my-0 me-md-auto fw-normal p-2 text-dark" href="{% url 'mainscreen' %}">Проект 516: Симулятор
            предекодера ядра CPU</a>
        <nav class="my-2 my-md-0 me-md-3">
            <a class="p-2 text-dark" href="{% url 'x86_main' %}">x86</a>
            <a class="p-2 text-dark" href="{% url 'mips_main' %}">MIPS</a>
        </nav>
        <a class="btn btn-outline-primary" href="https://wiki.miem.hse.ru/ru/Projects/516/docs">Документация</a>
    </div>
    <div class="container">
        <div class="row centered">
            <div class="col-3">
                <h3>Готовые примеры наборов байт</h3>
            </div>
            <div class="col-3">
                <a class="p-2 text-dark" href="#">Вычисление третьей степени целого числа</a>
            </div>
            <div class="col-3">
                <a class="p-2 text-dark" href="#">Счетчик</a>
            </div>
            <div class="col-3">
                <a class="p-2 text-dark" href="#">Нахождение символа в строке</a>
            </div>
        </div>
        <hr/>
        <form method="POST">
            <div class="row">

                <div class="col-1">
                </div>
                <div class="col-3" align="right">
                    <div class="btn-group-vertical">
                        <button type="submit" id="resBtn" name="reset" value="Рестарт" class="btn btn-primary" disabled>
                        <button type="submit" id="nextBtn" name="next" value="Далее" class="mt-2 btn btn-primary">
                    </div>
                </div>
                <div class="col-6">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <!--        <textarea spellcheck="false" class = "big" type="text" name="input" placeholder="Введите код">a1090000210800022129ffff0129001808100005</textarea>-->
                </div>
                <div class="col-auto">
                    <div class="code_container">
                        <li style="list-style-type: none;" class="code">mov eax c</li>
                        <li style="list-style-type: none;" class="code">mov eax c</li>
                        <li style="list-style-type: none;" class="code">mov eax c</li>
                        <li style="list-style-type: none;" class="code">mov eax c</li>
                        <li style="list-style-type: none;" class="code">mov eax c</li>
                        <li style="list-style-type: none;" class="code">mov eax c</li>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-3">
                <img src="https://image.flaticon.com/icons/png/512/326/326925.png" alt="1 этап" height="200px"
                     style="opacity:0.5;">
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-auto" align="right">
                        <h4>Прочитано 4 байта:</h4>
                    </div>
                    <div class="col-auto" align="left">
                        <h4>a1b2c3d4</h4>
                    </div>
                    <div class="col-auto" align="right">
                        <h4>Тип операции:</h4>
                    </div>
                    <div class="col-auto" align="left">
                        <h4 class="operation">I-Type</h4>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-sm table-bordered">
                        <tbody>
                        <tr>
                            <td colspan="6">6 бит</td>
                            <td colspan="5">5 бит</td>
                            <td colspan="5">5 бит</td>
                            <td colspan="16">16 бит</td>
                        </tr>
                        <tr>
                            <td colspan="6">op</td>
                            <td colspan="5">rs</td>
                            <td colspan="5">rt</td>
                            <td colspan="16">immm</td>
                            <td style="width:200px;">формат</td>
                        </tr>
                        <tr>
                            <td colspan="6">код операции</td>
                            <td colspan="5">регистр 1</td>
                            <td colspan="5">регистр 2</td>
                            <td colspan="16">константа</td>
                            <td style="width:200px;">значение полей</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td style="width:200px;">значение разрядов</td>
                        </tr>
                        <tr>
                            <td colspan="8">a1</td>
                            <td colspan="8">b2</td>
                            <td colspan="8">c3</td>
                            <td colspan="8">d4</td>
                            <td style="width:200px;">значение байтов</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>

<style>
h3 {
  color: #007bff;
}


.code_container
{
    width: 100%;
    overflow-y: auto;
    height: 50%;
}

.centered {
    align-items: center;
    text-align: center;
}
.operation {
    font-family: Courier;
    color: #007bff;
}
.table {
  display: -moz-groupbox;
}

.table tbody {
  overflow-y: auto;
  max-height: 190px;
  width: 100%;
  position: fixed;
}

.code {
  line-height: 22px;
    font-size: 24px;
    font-family: Courier;
    width: 100%;
}

.table td {
  width: 20px;
  text-align: center;
}

.table tbody tr:nth-child(odd){
	background: #fff;
}
.table tbody tr:nth-child(even){
	background: #F7F7F7;
}



</style>