<!doctype html>
{% load static %}
<html lang="ru">
<html>
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Предекодер ядра CPU</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/mips.css" rel="stylesheet">
</head>
<body>
<div class="main-wrapper">
    <div class="d-flex flex-column align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
        <a class="h5 my-0 me-md-auto fw-normal p-2 text-dark" href="{% url 'mainscreen' %}">Проект 516: Симулятор
            предекодера ядра CPU</a>
        <nav class="my-2 my-md-0 me-md-3">
            <a class="p-2 text-dark" href="{% url 'x86_main' %}">x86</a>
            <a class="p-2 text-dark" href="{% url 'mips_main' %}">MIPS</a>
        </nav>
        <a class="btn btn-outline-primary" href="https://wiki.miem.hse.ru/ru/Projects/516/docs">Документация</a>
    </div>
    <div class="container">
        <form method="POST">
            <div class="row centered">
                <div class="col-3">
                    <h3>Готовые примеры наборов байт</h3>
                </div>

                {% csrf_token %}
                <div class="col-3">
                    <button class="p-2 text-dark" type="submit" value="1" name="example">Вычисление третьей степени
                        целого числа
                    </button>
                </div>
                <div class="col-3">
                    <button class="p-2 text-dark" type="submit" value="2" name="example">Счетчик</button>
                </div>
                <div class="col-3">
                    <button class="p-2 text-dark" type="submit" value="3" name="example">Нахождение символа в строке
                    </button>
                </div>
        </form>
    </div>
    <hr/>
    <form method="POST">
        {% csrf_token %}
        <div class="row pb-2">
            <div class="col-1">
            </div>
            <div class="col-3" align="right">
                <div class="">
<!--                    <input type="submit" id="resBtn" name="reset" value="Рестарт" class="btn btn-primary" disabled>-->
                    <input type="submit" id="nextBtn" name="next" value="Начать" class="btn btn-with-width btn-primary btn-all-height">
                </div>
            </div>
            <div class="col-6">
                {{ form.text }}
                <!--                    <textarea spellcheck="false" class="form-control" id="exampleFormControlTextarea1" placeholder="Введите набор байт или выберите готовый пример из списка" rows="3"></textarea>-->
                <!--        <textarea spellcheck="false" class = "big" type="text" name="input" placeholder="Введите код">a1090000210800022129ffff0129001808100005</textarea>-->
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-3">
            <img src="https://image.flaticon.com/icons/png/512/326/326925.png" alt="1 этап" height="200px"
                 style="opacity:0.5;">
        </div>
        <div class="col-9">
            <div class="row py-3">
                В документации вы сможете найти интересующие вас машинные инструкции и их представление в виде
                байт.<br/>
                Все инструкции MIPS занимают ровно четыре байта.<br/>
                Также, есть возможность выбрать готовый набор для наглядного примера работы предекодера.<br/>
            </div>
            {% if error_title and error_title != "None" %}
            <div class="alert alert-danger" role="alert">
                {{ error_title }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
</body>
</html>

<style>
h3 {
  color: #007bff;
}


.code_container
{
    width: 100%;
    overflow-y: auto;
    height: 50%;
}

.centered {
    align-items: center;
    text-align: center;
}
.operation {
    font-family: Courier;
    color: #007bff;
}
.table {
  display: -moz-groupbox;
}

.table tbody {
  overflow-y: auto;
  max-height: 190px;
  width: 100%;
  position: fixed;
}

.code {
  line-height: 22px;
    font-size: 24px;
    font-family: Courier;
    width: 100%;
}

.table td {
  width: 20px;
  text-align: center;
}

.table tbody tr:nth-child(odd){
	background: #fff;
}
.table tbody tr:nth-child(even){
	background: #F7F7F7;
}

.btn-all-height {
  line-height: 4.5;
}

.btn-with-width {
  width: 100px;
}


</style>